<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Digital Marketing</h3>
       <p>
        Gain real-world experience running live campaigns as you learn from top experts
         in the field. Launch your career with a 360-degree understanding of digital marketing
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<section >
  <div class="container">
    <h3 class="section4">Learn Digital Marketing</h3>
    <!--heading underline section start-->

    <div>
      <p style="text-align: center; font-size: 16px; margin-top: 10px;">
        A well timed course to help you learn and keep up with the trends of the market.<br>
        Get well versed with the know- how's of the digital market
      </p>
    </div>
    <div class="row">
       <div class="col-md-8">
         <div class="couser_left">
            <div class="left_couser_bg">
              <h3>Learn Digital Marketing</h3>
              <p class="coursers_pcontent">
                Interactive course with projects, checklists & actionable lectures built into every section.
                Learn step by step how to market a business online from scratch across all the major marketing
                channels.
               </p>
            </div>
            <div class="left_couser_bg">
              <h3>What you'll learn?</h3>
              <ul class="courses_ulli">
                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Digital Marketing Basics  <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample1">
                    <div class="card card-body col-md-8" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>Introduction to Marketing</li>
                        <li>Introduction to Digital Marketing </li>
                        <li>Digital Marketing platforms/ channels /SERP</li>
                      </ul>
                    </div>
                  </div>

                  <li>
                    <a class="aclick" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Website Planning &Creation (CMS) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                    </a></li>
                    <div class="collapse" id="collapseExample2">
                      <div class="card card-body col-md-8" style=" color: #fff;
                  background-color: #535353;">
                    <ul>
                      <li>Introduction of Static & Dynamic websites</li>
                      <li>Introduction of Wordpress deigns</li>
                      <li>What is Domain/Hosting / local server</li>
                    </ul>
                  </div>
                    </div>


                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Search Engine optimization (SEO- on Page) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample3">
                        <div class="card card-body col-md-8" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>Introduction of SEO</li>
                        <li>What are search engines </li>
                        <li>Google Algorithms & Updates </li>
                        <li>On - Page introduction </li>
                      </ul>
                    </div>
                      </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Search Engine optimization (SEO- off Page) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample4">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Off - page introduction</li>
                    <li>Importance of Link- Building  </li>
                    <li>SEO Paid & Free tools </li>

                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Search Engine Marketing (SEM- Google ADs) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample5">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Introduction to Google ADs</li>
                    <li>Benefits of Adwords  </li>
                    <li>Adwords formals & BID Calculations </li>
                    <li>Google AD Campaigns Types </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Social Media Optimization (SMO) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample6">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Introduction to SMO</li>
                    <li>Importance of online platforms   </li>
                    <li>Scope of lead generation </li>
                    <li>Social media toolHootsuit, Buffer App, IFTT  </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Social Media Marketing (SMM) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample7">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Introduction to paid marketing in social media </li>
                    <li>FD Ad managers Account   </li>
                    <li>Understanding campaign, AD group, ADs structure </li>
                    <li>Influencer marketing   </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Email Marketing <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample8">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>What is Email Marketing </li>
                    <li>Email Marketing Tools Sendy, Mail chimp, campaign monitor, ZOHO.   </li>
                    <li>Designing creative newsletters  </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Affiliate Marketing <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample9">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Introduction to Affiliate marketing</li>
                    <li>Scenario of Affiliate program    </li>
                    <li>Associate & Merchant account set up     </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Online Reputation Management (ORM) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample10">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Introduction to ORM</li>
                    <li>Understanding the customer persona    </li>
                    <li>How to address with negative reviews  </li>
                  </ul>
                </div>
                  </div>


                <li>
                  <a class="aclick" data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Special sessions on Skills required for Digital Marketing <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                  </a></li>
                  <div class="collapse" id="collapseExample11">
                    <div class="card card-body col-md-8" style=" color: #fff;
                background-color: #535353;">
                  <ul>
                    <li>Basics of content marketing </li>
                    <li>Understanding the customer persona Building  digital marketing strategy from scratch   </li>
                    <li>Lead generation techniques  </li>
                    <li>Case studies on Digital Marketing strategies  </li>
                  </ul>
                </div>
                  </div>
              </ul>

            </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="couser_left">
           <div class="course_content_section">
             <img src="../../../assets/images/course_one.png" alt="couser_one" class="course_image">
           <div class="course_content">
             <h5 class="duration_courses">Duration of Course</h5>
             <p style="font-size: 18px;">3 Months</p>
           </div>
           </div>
         </div>
      </div>


    </div>
  </div>
</section>
<section>
  <div class="home_aboutmanteios">
     <div class="container" style="padding-bottom: 1%;">
      <p style="color: #ff7a04;
      padding-top: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;">
        STEP OUT OF THE BOX
      </p>
      <P class="yourtune">Diversify your knowledge</P>
      <button class="btn joinus3">
        <a href="#enroll" data-toggle="modal"> Enroll Now
       <img src="../../../assets/images/right-sidearrow.png" style="width:15%"></a></button>
     </div>
  </div>


</section>

