<section class="banner_images">
  <div class="container">
    <div class="dmmarkrting_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Careers</h3>
       <p>
        Broad spectrum of dervices for better work. Our attitude towards solving problems
        gives us the edge. We understand that every idea is unique and we tailar our approach
        to meet each vision.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>

<!-- Start brands Area with scroller -->

<!-- Start career  Area-->
<section>
  <div class="container">
    <div class="careersection">
      <h4 class="career_heading">Launch Your Career</h4>
      <div>
        <p class="career_p">
          <span class="frist_letter">S</span>eize the opportunity to enhance your experience. Accelerate your growth at Manteio and experience <br />multitude of prospects and progression
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Start career end Area-->

<!-- Start job opeing  Area-->
<section id="featuredjobs">
  <div class="container">
    <h3 style="        margin: 10px;
    color: #ff7a04;">Featured Jobs</h3>
    <div class="row">
      <div class="col-md-5 jobsboader">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">
            <a href="#myModal" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
            <!-- <button class="btn jobbutton" ><a href="#myModal">
              job Description
            </a></button> -->
          </div>

        </div>
      </div>
      <div class="col-md-5 jobsboaderleft">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">

            <a href="#myModaltwo" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
          </div>

        </div>
      </div>
    </div>

    <!--section row 2-->
    <div class="row">
      <div class="col-md-5 jobsboader">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">
            <a href="#myModalthree" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
            <!-- <button class="btn jobbutton">job Description</button> -->
          </div>

        </div>
      </div>
      <div class="col-md-5 jobsboaderleft">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">
            <a href="#myModalfour" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
            <!-- <button class="btn jobbutton" data-toggle="modal" data-target="#extraLargeModaltwo">job Description</button> -->
          </div>

        </div>
      </div>
    </div>
    <!--section row 3-->
    <div class="row">
      <div class="col-md-5 jobsboader">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">
            <a href="#myModalfive" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
            <!-- <button class="btn jobbutton">job Description</button> -->
          </div>

        </div>
      </div>
      <div class="col-md-5 jobsboaderleft">
        <div class="row">
          <div class="col-md-7">
            <p class="jobsboadertext">
              Full Time
              <br><span style="color:#ff7a04;">Junior Graphic Designer</span><br />

              <span class="jobsboadertext">Posted one year ago by manteio</span><br />
              <i class="fa fa-map-marker mr-2" style="color: #ff7a04;"></i> <span class="jobsboadertext">Hyderabad</span>
            </p>
          </div>
          <div class="col-md-5">
            <a href="#myModalsix" role="button" class="btn jobbutton" data-toggle="modal">job Description</a>
            <!-- <button class="btn jobbutton">job Description</button> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start job opeing end  Area-->
<section>
  <div class="container" style="background-image: url(../../../assets/images/new_background_aboutus.png);margin-bottom: 50px;">
    <div>
      <h4 class="joinus_heading">
        <span class="frist_letter">B</span>e part of a diverse collection of people who are inventing the future as it unfolds<br />
        through responsible, sustainable business.
      </h4>
      <div>
        <button class="btn joinus"><a href="#myModal1" data-toggle="modal" style="color:#fff;">Join us</a></button>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial Area -->
<!-- Start brands Area with scroller -->
<!--<section class="brands-area">
  <div class="container no-padding">
    <div class="brand-wrap section-gap">
      <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
        <div class="col single-brand">
          <a href="#"><img class="mx-auto" src="img/brands/b1.png" alt=""></a>
        </div>
        <div class="col single-brand">
          <a href="#"><img class="mx-auto" src="img/brands/b2.png" alt=""></a>
        </div>
        <div class="col single-brand">
          <a href="#"><img class="mx-auto" src="img/brands/b3.png" alt=""></a>
        </div>
        <div class="col single-brand">
          <a href="#"><img class="mx-auto" src="img/brands/b4.png" alt=""></a>
        </div>
        <div class="col single-brand">
          <a href="#"><img class="mx-auto" src="img/brands/b5.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- End brands Area -->

<!-- Model pop ups for job description -->

<div id="extraLargeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Extra Large Modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
              <p>     test one Add the <code>.modal-xl</code> class on <code>.modal-dialog</code> to create this extra large modal.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">OK</button>
          </div>
      </div>
  </div>
</div>

<!-- two -->

<div id="extraLargeModaltwo" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Extra Large Modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
              <p> test two Add the <code>.modal-xl</code> class on <code>.modal-dialog</code> to create this extra large modal.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#extraLargeModaltwo">OK</button>
          </div>
      </div>
  </div>
</div>

<!-- <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Modals in Modal</a> -->


<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
              <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="row">
                <div class="col-md-8">
                  <div class="pop_card">
                    <div class="popup_sectionone">
                      <div class="row">
                        <div class="col-md-9">
                          <h5>Junior Graphic Designer</h5>
                           <p class="poptextmodels">job Code: <br>
                           Experience:  <br>
                           Job Type: <br>
                           Skills: </p>
                        </div>
                        <div class="col-md-3">
                              <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                              <div style="margin-top: 40%;">
                                <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 <div class="pop_cardtwo">
                  <p class="poptextmodels">
                    As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                    YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                    Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                    You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                    Ability to manage change and be open to it good time management and an ability to work under stress<br>
                    Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                    Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                    Salary:  Not Disclosed<br>
                    As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                    YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                    Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                    You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                    Ability to manage change and be open to it good time management and an ability to work under stress<br>
                    Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                    Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                    Salary:  Not Disclosed<br>
                   </p>
                   <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                    <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
                 </div>
              </div>
              <div class="col-md-4">
                <div>
                  <img src="../../../assets/images/popup-one.png" alt="popup-one" class="popup-one">
                </div>
              </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- model pop two -->

<div id="myModaltwo" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
          <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-md-8">
              <div class="pop_card">
                <div class="popup_sectionone">
                  <div class="row">
                    <div class="col-md-9">
                      <h5>Junior Graphic Designer</h5>
                       <p class="poptextmodels">job Code: <br>
                       Experience:  <br>
                       Job Type: <br>
                       Skills: </p>
                    </div>
                    <div class="col-md-3">
                          <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                          <div style="margin-top: 40%;">
                            <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="pop_cardtwo">
              <p class="poptextmodels">
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
               </p>
               <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
             </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../../../assets/images/popup-5.png" alt="popup-one" class="popup-5">
            </div>
          </div>
    </div>
</div>
</div>
  </div>
</div>

<!-- model pop myModalthree -->

<div id="myModalthree" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
          <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-md-8">
              <div class="pop_card">
                <div class="popup_sectionone">
                  <div class="row">
                    <div class="col-md-9">
                      <h5>Junior Graphic Designer</h5>
                       <p class="poptextmodels">job Code: <br>
                       Experience:  <br>
                       Job Type: <br>
                       Skills: </p>
                    </div>
                    <div class="col-md-3">
                          <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                          <div style="margin-top: 40%;">
                            <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="pop_cardtwo">
              <p class="poptextmodels">
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
               </p>
               <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
             </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../../../assets/images/popup-2.png" alt="popup-one" class="popup-2">
            </div>
          </div>
    </div>
</div>
</div>
  </div>
</div>


<!-- model pop myModalfour -->

<div id="myModalfour" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
          <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-md-8">
              <div class="pop_card">
                <div class="popup_sectionone">
                  <div class="row">
                    <div class="col-md-9">
                      <h5>Junior Graphic Designer</h5>
                       <p class="poptextmodels">job Code: <br>
                       Experience:  <br>
                       Job Type: <br>
                       Skills: </p>
                    </div>
                    <div class="col-md-3">
                          <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                          <div style="margin-top: 40%;">
                            <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="pop_cardtwo">
              <p class="poptextmodels">
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
               </p>
               <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
             </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../../../assets/images/popup-3.png" alt="popup-3" class="popup-3">
            </div>
          </div>
    </div>
</div>
</div>
  </div>
</div>

<!-- model pop myModalfive -->

<div id="myModalfive" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
          <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-md-8">
              <div class="pop_card">
                <div class="popup_sectionone">
                  <div class="row">
                    <div class="col-md-9">
                      <h5>Junior Graphic Designer</h5>
                       <p class="poptextmodels">job Code: <br>
                       Experience:  <br>
                       Job Type: <br>
                       Skills: </p>
                    </div>
                    <div class="col-md-3">
                          <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                          <div style="margin-top: 40%;">
                            <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="pop_cardtwo">
              <p class="poptextmodels">
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
               </p>
               <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
             </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../../../assets/images/popup-4.png" alt="popup-4" class="popup-4">
            </div>
          </div>
    </div>
</div>
</div>
  </div>
</div>

<!-- model pop myModalsix -->

<div id="myModalsix" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
       <!-- Modal content-->
       <div class="modal-content">
        <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
          <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-md-8">
              <div class="pop_card">
                <div class="popup_sectionone">
                  <div class="row">
                    <div class="col-md-9">
                      <h5>Junior Graphic Designer</h5>
                       <p class="poptextmodels">job Code: <br>
                       Experience:  <br>
                       Job Type: <br>
                       Skills: </p>
                    </div>
                    <div class="col-md-3">
                          <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                          <div style="margin-top: 40%;">
                            <i class="fa fa-map-marker mr-2" style="color: #ff5907;"></i> <span style="color: black;">Hyderabad</span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="pop_cardtwo">
              <p class="poptextmodels">
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
                As Full Stack Application Developer, you will design, develop and support application solutions with focus on building and testing Java application.
                YOUR DAY IN THE ROLE WILL INCLUDE…<br>
                Design, develop and/or re-engineer highly complex application components, and integrate software packages, programs and reusable objects residing on multiple platforms.
                You will build all the applications for around the world to demonstrate agile and dynamic software support capabilities for the development team
                Ability to manage change and be open to it good time management and an ability to work under stress<br>
                Proven interpersonal skills while contributing to team effort by accomplishing related results as needed<br>
                Maintain technical knowledge by attending educational workshops, reviewing publications.<br>
                Salary:  Not Disclosed<br>
               </p>
               <a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Apply</a>
                <button class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
             </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../../../assets/images/popup-one.png" alt="popup-one" class="popup-one">
            </div>
          </div>
    </div>
</div>
</div>
  </div>
</div>

<!-- job form to send data to backend -->
<div id="myModal1" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                  <div class="col-md-8">
                    <div class="contactformpop">
                      <div>
                        <form class="contactform" [formGroup]="resumeform" (ngSubmit)="submitFormresume()" style="margin: 30px;padding-top: 20px;">
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="FullName" formControlName="FullName"  name="FullName">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Email" formControlName="Email"  name="Email">
                            </div>
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Job Type" formControlName="JobType"  name="JobType">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Total Work Experience" formControlName="TotalWorkExperience"  name="TotalWorkExperience">
                              </div>
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Relavent Experience" formControlName="RelaventExperience"  name="RelaventExperience">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Current Salary" formControlName="CurrentSalary"  name="CurrentSalary">
                            </div>
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Expected Salary" formControlName="ExpectedSalary"  name="ExpectedSalary">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Notice Period" formControlName="NoticePeriod"  name="NoticePeriod">
                            </div>
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Current Location" formControlName="CurrentLocation"  name="CurrentLocation">
                            </div>
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;color: black;">
                              <label for="exampleFormControlFile1">Upload Resume</label>
                              <input type="file" class="form-control-file" id="uploadresume" formControlName="FilePath"  name="FilePath">
                          </div>
                          <div class="form-row" style=" margin-bottom: 20px;">
                            <button class="btn" style="color: #fff; background-color: #154cff; border-color: #154cff; border-radius: 20px;">Send Message</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="../../../assets/images/contact_right.png" alt="conatct_rightimage" style="height: 508px;" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>

        </div>
    </div>
</div>
