 <section class="banner_image">
   <div class="container">
     <div class="about_banner">
      <div class="bannercolor">
        <div class="bannertexts">
          <h3>About Us</h3>
        <p>
          We conceptualise in building transcending experiences and cultivate products for success.
          We envision making a distinct contrast in the trade we serve with finesse.
        </p>
        </div>
      </div>
     </div>
   </div>
 </section>
<!-- Start features Area -->
<section class="features-area section-gap-top" id="news">
  <div class="container">
  <img src="../../../assets/images/digital5.png" alt="pagedecore" class="section_twodecore" />
    <div class="row feature_inner" style="padding: 10px;margin-bottom: 30px;">

      <div class="col-lg-4 col-md-4 topgap toprightgap home_section5">
        <div class="boxhover">
          <div class="boxshades">
            <div class="feature-item">
              <img src="../../../assets/images/7.png" alt="image_one" class="about_section2" />
              <h4 style="color: #ff7a04!important;">Collaborative Spirit</h4>
              <p class="section_twoaboutsp">
                Manteio believes in developing true partnerships.
                We foster a collegial environment where individual perspectives are respected and honest dialogue is expected.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 toprightgap home_section5">
        <div class="boxhover">
      <div class="boxshades">
        <div class="feature-item">
          <img src="../../../assets/images/8.png" alt="image_two"   class="about_section2"/>
          <h4 style="color: #ff7a04!important;">Unrelenting Dedication</h4>
          <p class="section_twoaboutsp">
            Manteio is driven to meet client needs with determination and grit.
            We embrace tough challenges and do not rest until we solve the problem the right way.
          </p>
        </div>
      </div>
    </div>
      </div>

      <div class="col-lg-4 col-md-4 topgap toprightgap home_section5">
        <div class="boxhover">
      <div class="boxshades">
        <div class="feature-item">
          <img src="../../../assets/images/9.png" alt="image_3"   class="about_section2"/>
          <h4 style="color: #ff7a04!important;">Expert Thinking</h4>
          <p class="section_twoaboutsp">
            Manteio brings robust skills and perspectives to solve customer challenges.
            We use proven knowledge to make recommendations and provide expert guidance to our customers.
          </p>
        </div>
      </div>
    </div>
    </div>

    </div>
  </div>
</section>
<!-- End features Area -->
<!-- Start rounded image Area -->
<section>
  <div class="bluerounded_boder">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7">
              <div class="bluerounded_left">
                <h3 style="color: #ff7a04!important;margin-top: 60px;font-weight: 600;">
                  Navigate Your Next To Evolve Your Organisation into a Live Enterprise
                </h3>
                <p>
                  Our Partners are part of the ecosystem; building a strong partnership and strategic collaboration of our
                  focus solutions. We work together closely to bring a value proposition in all aspects of our engagement,
                  be it product knowledge, sales & support and the trust of doing business with us.
                </p>

                <br />
                <p class="p2">
                  We believe in providing an experienced team to formulate a winning approach and providing you
                  the right tools to deliver your objectives while ensuring you retain control. We focus on
                  delivering successful outcomes whilst leaving a legacy of transferred skills and enhanced capability.
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/11.png" alt="roundimage11" class="roundimage11" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End rounded image Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
  <div>
    <div class="valuessection about-area">
    <h3 class="section4" style="padding-top:0%;padding-bottom: 15px;">Our Values</h3>
    <div class="row values_main_div">
      <div class="row feature_inner" style="margin-left: 0px;
      margin-right: 0px;">
        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/val-1.png" alt="image_one" class="boxshadeshimage" />
            <h4>
              Client Value Creations
            </h4>
            <p class="section_twoaboutsp">
              Enabling clients to become high- performance businesses and
              creating long-term relationships by being responsive and
              relevant by consistently delivering value.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/value-2.png" alt="image_3" class="boxshadeshimage" />
            <h4>
              Respect For Individual
            </h4>
            <p class="section_twoaboutsp">
              Valuing diversity and unique contributions,
              fostering a trusting and inclusive environment and treating each person in a manner
              that reflects Our Values.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/value-3.png" alt="image_two" class="boxshadeshimage" />
            <h4>
              One Global Network
            </h4>
            <p class="section_twoaboutsp">
              Leveraging the power of global insight, relationships, collaborations
              and learning to deliver exceptional services to clients wherever they do business.
            </p>
          </div>
        </div>
      </div>
      <div class="row feature_inner" style="margin-left: 0px;
      margin-right: 0px;">
        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/value-4.png" alt="image_two" class="boxshadeshimage" />
            <h4>
              Integrity
            </h4>
            <p class="section_twoaboutsp">
              Being ethically unyielding and honest.
              We inspire trust by saying what we mean,
              matching our behaviors  to our words and taking responsibility
              to our actions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/value-5.png" alt="image_one" class="boxshadeshimage" />
            <h4>
              Stewardship
            </h4>
            <p class="section_twoaboutsp">
              Fulfilling our obligations of building a better, stronger and more sustainable company for future generations.
              Acting with the mentality of developing people and helping improve communities and the global environment.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="feature-item2 boxshadesh">
            <img src="../../../assets/images/value-6.png" alt="image_3" class="boxshadeshimage" />
            <h4>
              Best People
            </h4>
            <p class="section_twoaboutsp">
              Attracting, developing and retaining the best talent for our business, challenging our people.
              Demonstrating a “can-do” attitude also fostering a collaborative and supportive environment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End About Area -->
<!-- Start transformation  Area  -->
<section>
  <div class="container">
    <h3 class="section4" style="text-align: center;">Transformation In Action<br>
    </h3>
    <!--heading underline section end-->
    <div class="row">
      <p class="transformationinaction">
        <span class="frist_letter">W</span>e help you reinvent products, experiences and business models to create new value, differentiation and revenue in the digital economy.
        Digital innovation. Outpace the market. We are expanding our digital engineering capabilities to become top software development powerhouse.
      </p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="Transformationrows" >
          <h5>Digital</h5>
          <p>
            Winning customers in today's marketplace requires more than a digital brand presence.
            You need personalized offerings, seamless navigation and real-time engagement across all the channels.
            Winning companies prioritize and activate digital marketing solutions and extract maximum value from the
            data they collect every day.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="Transformationrows Transformationrows_margindown">
          <h5>OPERATIONS</h5>
          <p>
            In today’s 24-7 business environment, application failure or unexpected downtime can not
            only frustrate end users, it can devastate your bottom line. As budgets shrink and application
            environments grow more complex, you need an experienced strategic IT partner to bolster
            your application development and support.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="Transformationrows">
          <h5>IT Consulting</h5>
          <p>
            Manteio can help you assess your abundance information and identify data essential to running and growing your organization.
            To address your unique needs,
            We work with you to build an information strategy and governance framework customized to your business.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="Transformationrows Transformationrows_margindown">
          <h5> Branding And Identity</h5>
          <p>
            We at Manteio take immense pride in crafting and designing the brightest ideas that
            metamorphose into memorable brands that breathe into consumer’s lives. Going beyond conventional
            brand architects, we work in collaboration with “Brand Partners”.

          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Start transformation end  Area-->

<section class="Ind-bg-s3">
  <div class="container ">
    <h5 class="section4" style="color: #ff7a04;">Industries We Serve</h5>
  <div class="Ind-image-gal">
    <div class="row">
      <div class="col-md-3">
        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind-Heart.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h" >Healthcare</h4>
            <p>Engage with our business and technology experts for strategic solutions that address the full scope of healthcare issues today.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind-Education.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Education</h4>
            <p>From online tools to after-school programs, we offer the latest digital solutions to keep challenging the learning experience.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind-Elacrtic.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Manufacturing</h4>
            <p>We help change the way you develop, source and distribute your products today so you can revolutionize your performance tomorrow.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">

        <div class="img__wrap">
          <img  class="Ind-Row-1" src="../../../assets/images/Ind_Consrt.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Goods & Services</h4>
            <p>Launch novel ways to enhance the customer experience, elevate your brands and grow market share.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind_Science.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Life Sciences</h4>
            <p>As life sciences continue to change, so should your thinking about how to manage digital processes. Our tailored solutions can help.</p>
          </div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind-Popcorn.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Media & Entertainment</h4>
            <p>How you create, manage and deliver digital assets defines your company’s success. Our solutions make the process easier.</p>
          </div>
        </div>

      </div>

    </div>


    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-3">
        <div class="img__wrap">
          <img  class="Ind-Row-1" src="../../../assets/images/Ind-calculater.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Retail</h4>
            <p>Our innovations in supply chain management, merchandising, e-commerce and mobility transform traditional retailers into digital powerhouses.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="img__wrap">
          <img class="Ind-Row-1" src="../../../assets/images/Ind-cart.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Travel & Hospitality</h4>
            <p>Gaining a competitive advantage means challenging business as usual. Our solutions and digital thinking can help you stay ahead in a competitive field.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="img__wrap">
          <img class="Ind-Row-1 " src="../../../assets/images/ind-globe.png" alt="conatct_rightimage"  />
          <div class="img__description">
            <h4 class="hover-h">Banking</h4>
            <p>Streamline inefficient processes with strategies and solutions that grow your business and keep customers at the center of your organization.</p>
          </div>
        </div>

      </div>

    </div>
  </div>

  </div>
  </section>

<!-- Start brands Area with scroller -->
<section>
  <div class="home_aboutmanteio">
     <div class="container" style="padding-bottom: 3%;">

      <p>
         The focus in future will be how we, in our sector, can contribute to making society
         a more sustainable and better place. We strive for feasible and accommodating society
         through digitization and advancement. With creativity, passion and an appetite for the unknown, We work everyday in
         aiding arganisations thrive in the connected world.
      </p>
      <div>

        <button class="btn joinus2"><a href="#" routerLink="['/contactus']" data-toggle="modal" style="color:#fff;">Contact Us</a></button>
      </div>
     </div>
  </div>
</section>
<!-- End brands Area -->





