
<section class="banner_image">
  <div class="container">
    <div class="dmmarkrting_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Digital Marketing</h3>
       <p>
        Exceedingly organized, highly targeted, and delivers measurable results
        in real-time. We evaluate and determine the best platforms to invest in,
        maintain the balance between your marketing activities and their results.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<section style="background-image:url('../../../assets/images/Pattern_2 (1).png');background-size: cover;">
  <div class="container">
    <img src="../../../assets/images/digital5.png" alt="right_desing" class="right_desing_one" />
    <img src="../../../assets/images/digital4.png" alt="right_desing" class="right_desing_two" />
    <h3 class="section4">
      We Create The Digital Routes for Your Branding Building Online
    </h3>
    <div class="row">
      <div class="col-md-6 Digital_section2">
        <p style="color: black;">
          Taking the perfect stride towards customized solutions in the field of Digital
          Marketing we are already walking ahead of the rest of the service providers.
           We have a true understanding of the online world and the latest trends. Our team
           is well excelled and expert at this field and always ready to deliver the bets results.
           This makes us custom ready to accept and make changes as per the market changes for
           the betterment of your business.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/digital2.png" alt="aboutus_right" class="digital_routes_image" />
      </div>
    </div>
  </div>
</section>

<section class="dmservices_bg1">
  <div class="container">
    <h3 class="section4" style="color:#fff;font-weight: 400;padding-top:50px;">
      Digital Marketing Services
    </h3>

    <div>
      <p class="digital_section3">
        Priority of our company- Website promotion. Turning to us you get a significant increase in
        the number of clients.<br /> It guarantees the competence of the team, the methodology of SEO- measures<br />
        developed technology and successful experience.
      </p>
    </div>

    <div class="dm_catlogs">
      <div class="row">
        <div class="col-md-4 sideline_section">
          <div class="dot"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/image_dm_one.png" alt="socialmeadia" class="image_dmone"/>
          <h6>Social media marketing</h6>
          <p>potential to transform the way that you reach and engage.</p>
          </div>
        </div>
        <div class="col-md-4 sideline_section">
          <div class="dot2"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/digital8.png" alt="socialmeadia" class="image_dmtwo" />
            <h6>Digital marketing</h6>
            <p>data-driven and targeted brand promotion through technology.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dm_catlogstext">
            <img src="../../../assets/images/digital9.png" alt="socialmeadia" class="image_dmthree" />
          <h6>Analytics & reporting</h6>
          <p>Automated reporting process is exactly what our analytics reporting tool is about</p>
          </div>
        </div>
      </div>
      <div class="row dm_section2_2">
        <div class="col-md-4 sideline_section">
          <div class="dot"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/digital10.png" alt="socialmeadia" class="image_dmfour" />
          <h6>Paid Marketing</h6>
          <p> Fine-tuning the campaign every aspect of your social media campaign management</p>
          </div>
        </div>
        <div class="col-md-4 sideline_section">
          <div class="dot2"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/digital11.png" alt="socialmeadia" class="image_dmfive"/>
          <h6>Content Writing</h6>
          <p>Creating and sharing valuable content to attract prospects</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dm_catlogstext">
            <img src="../../../assets/images/digital12.png" alt="socialmeadia" class="image_dmsix"/>
            <h6>Website Design</h6>
            <p>making tailor-made aesthetic experiences by taking ideas and pushing them further</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  <section>
    <div class="container">
      <h3 class="section4">
        Manteio Digital Marketing Packages
      </h3>

    </div>
    <div>
      <p class="marketing_packages">
        We bring forth honest packages to you. Packed with conducive, top of the line sources, features.
        We plan to build your Digital Marketing Strategy from scratch in sync, propelling you to bounds beyond
        with minimal friction and paramount benefits.
      </p>
      <div>
        <img src="../../../assets/images/dmtabledatag.png" alt="dm_data_table" style="width: 75%;
        margin-left: 13%;margin-bottom:0%;" />
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div style="padding-bottom: 5%;">
        <h5 class="digital_contacus">Digital Marketing - Find the perfect fit for your needs.
          For any further assistance</h5>
          <button class="btn joinus5">
            <a href="#" [routerLink]="['/contactus']">CONTACT US</a></button>
      </div>
    </div>
</section>

  <!-- Aboutus in home page End banner Area -->
