<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>AR/VR/3D Animation</h3>
       <p class="Avr-p">
        We make it possible to discover a fun and intuitive way of work by creating experiences
         that capture people’s imagination with real-time rendering, This interactivity can make
          an experience remarkable.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<section class="future-section">
  <div class="container">
    <img src="../../../assets/images/AVR-Round-pattern.png" alt="conatct_rightimage" class="avr-round-image" />
    <h3 class="section4">The Future  of Reality</h3>
    <!--heading underline section end-->
      <div class="row" style="margin-bottom: 40px;">
            <div class="col-md-5">
              <img src="../../../assets/images/AVR-Mode.png" alt="AVR" class="roundimage11" />
            </div>
            <div class="col-md-6">
                  <p class="avr-mode-p">
                    Become a trendsetter, market leader, innovator or just build competitive advantage
                    and grow with a team of passionate people. There are no more restrictions. This
                    interactivity can make an experience so powerful and meaningful. Choosing the right
                    interactivity and possibilities is therefore vital.
                  </p>
            </div>
      </div>
  </div>
</section>

<section class="Avr-V-Reality">
<div class="container">
<div class="row" style="padding-bottom: 3%;">
<div class="col-md-7">
<h4 class="virtual-h">How Virtual Reality Works</h4>
<div class="row"   style="color: white; margin-bottom: 70px;">
<div class="col-md-9" >
  <div class="left-div" >
  <h6 >Eye and Hear Tracking</h6>
  <p class="mt-3 reality_p_fsize">Create and Exlpore virtual spaces with greater ease by navigating with gaze</p>
</div>
</div>
<div class="col-md-2">
<div class="angle-div"  >
<p class="angle-p" >01</p>
</div>
</div>
</div>
<div  class="row" style="color: white; margin-bottom: 70px; margin-right: 130px;">
<div class="col-md-9" style=" text-align: right;">
  <div class="right-div">
    <h6>The Impact Of Sound </h6>
    <p class="mt-3 reality_p_fsize">Creating immersive and interactive with surround sounds for unforgettable experience</p>

  </div>
   </div>
<div class="col-md-2">
<div  class="angle-div"  >
  <p class="angle-p" >02</p>
  </div>
</div>
</div>
<div class="row" style="color: white;margin-bottom: 70px; ">
<div class="col-md-9" >
  <div class="left-div">
  <h6>Seeing is believing</h6>
  <p class="mt-3 reality_p_fsize">This degree of interactivity can make an experience so powerful and meaningful</p>
</div>
</div>
<div class="col-md-2">
<div class="angle-div" >
  <p class="angle-p" >03</p>
  </div>
</div>
</div>
</div>
<div class="col-md-5">
<img class="AVR-VReality-image"  src="../../../assets/images/AVR-VReality.png" alt="AVR" width="100%"  />
</div>
</div>
</div>
</section>
<section>
<div class="container" style="padding-bottom: 5%;">
  <h3 class="section4">Explore Limitless Possibilities</h3>

    <!--heading underline section end-->
    <div class="row mt-3" >
      <div class="col-md-2 mt-" >

      </div>
      <div class="col-md-8">
        <p style="text-align: center;">Our services development process tailored for you. We understand
          that every idea is unique and we tailor our approach to meet each vision. Crossing the seams
          of reality has never been this easy.</p>

      </div>
      <div class="col-md-2">

      </div>

    </div>
<div class="row">
<div class="col-md-4 Possibilities">
  <div class="dot3"></div>
<div class="AVR-Products">
  <div class="coneptsbox">
    <img  class="conepts" src="../../../assets/images/AVR-Product.png" alt="Product Develope"  />
  </div>
  <h6 class="center headingh6">Product Develop</h6>
  <p class="center-P centeP">Create and manage top-performing social campaigns and start developing a dedicated
    customer fan base</p>
</div>

</div>
<div class="col-md-4 Possibilities" >
  <div class="dot3"></div>
<div class="AVR-Products">
  <div class="coneptsbox">
<img  class="conepts"   src="../../../assets/images/AVR-2D-3D-Content.png" alt="2D 3D Content"  />
</div>
<h6 class="center headingh6">2D 3D Content</h6>
<p class="centeP">develops ambitious animated works conveying strong values in an unique style and an editorial line based on universal principles.</p>
</div>
</div>

<div class="col-md-4 Possibilities" >
  <div class="AVR-Products">
  <div class="coneptsbox">
<img  class="conepts"  src="../../../assets/images/AVR-Virual-Tour.png" alt="Virtula Tour"  />
  </div>
<h6 class="center headingh6">Virtual Tour</h6>
<p class="center centeP ">The 3D virtual tour is the ideal tool to share the progress of the construction project with customers or your team.</p>
  </div>
</div>
</div>

<div class="row" style="margin-top: -20px;">

<div class="col-md-4 Possibilities" >
  <div class="dot3"></div>
  <div class="AVR-Products">
    <div class="coneptsbox">
  <img class="conepts"  src="../../../assets/images/AVR-web-ar.png" alt="Web AR Technology"  />
  </div>
  <h6 class="center headingh6">Web AR Technology</h6>
  <p class="center-P centeP">Seamlessly embed any Web AR experience directly inside existing websites, so users can discover and experience AR.</p>
</div>
<div class="dot4"></div>
</div>
<div class="col-md-4 Possibilities"  >
  <div class="dot3"></div>
  <div class="AVR-Products">
    <div class="coneptsbox">
  <img  class="conepts"   src="../../../assets/images/AVR-Gamification.png" alt="Gamification"  />
  </div>
<h6 class="center headingh6">Gamification</h6>
<p class="center-P centeP">Solutions we develop are tailored to meet your business objectives exclusively. With a close eye on the intended results.</p>
</div>
<div class="dot4"></div>
</div>
<div class="col-md-4 Possibilities" >
  <div class="AVR-Products">
  <div class="coneptsbox">
  <img   class="conepts"  src="../../../assets/images/AVR-Authentcation.png" alt="Authentcation"  />
  </div>
<h6 class="center headingh6">Authentication</h6>
<p class="center-P centeP">Encode the technology to bridge the gap between the physical and the digital world.</p>
</div>
</div>
</div>
</div>
</section>
<section class="Avr-Trabilazer">
<div class="container">
<div class="row" style="padding-top: 5%;padding-bottom: 5%;">
<div class="col-md-4">
  <img src="../../../assets/images/Avr-Trabilizer.png" alt="AVR" class="roundimage11"/>
</div>

<div class="col-md-2">

</div>
<div class="col-md-6">
  <h4 class="trebilizer-h" >Become trailblazer</h4>
  <p style="color: white ;" class="Avr-p">
    Step into the future of your firm and leave the competition years behind with an edge.
    We create Virtual and Augmented Reality in every technology on all platforms. Success needs
     to be manifested in an extraordinary way.  <br>
      <br>
        With genuine technical competence and strong customer relationships, our
        mission is to act as a bridge between existing technology and our clients’
        business needs continues.
  </p>
</div>


</div>
</div>
</section>

<section >
  <div class="container">
      <div class="row" style="padding-top: 3%;padding-bottom: 3%;">
            <div class="col-md-6">
              <div class="Avr-Womensec">
            <h4 class="avr3d_let">Let your creative juices flow with VRLand Experience:</h4>
            <p  class="mt-3   ">
              We are a team of specialists who deal with innovative tools on a daily basis.
               It is our responsibility to be "up to date"  and control the information overload.
               We can offer the best personalized tools, build a technological advantage over the
                or optimize your work- everything is a matter of needs.<br>
                <br>
                 Our quest and zeal for excellence and innovation inspires us to run through exhaustive
                tests and quality checks to ascertain everything is up to mark. We house a team of avid
                developers and designers who strive to create state-of-the-art interactive and immersive
                experiences. Converting these experiences into immersive milestones has been a continuous endeavor.
            </p>
            </div>
          </div>


            <div class="col-md-5">
              <img src="../../../assets/images/AVR-Women.png" alt="AVR"   class="roundimage11" />
                    </div>
      </div>
  </div>
</section>

