<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>IOS Development</h3>
       <p>
        Push the boundaries of innovation, with amazingly versatile apps and exciting user interfaces.
         Our instructors will guide you on the do’s and don’ts of the process of iOS development with
          expertise and competence.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<section >
  <div class="container">
    <h3 class="section4">What you learn in 14 Weeks</h3>
    <!--heading underline section start-->

    <div>
      <p style="text-align: center; font-size: 16px; margin-top: 10px;">
        We have crafted a course that will help you to transform into a developer of tremendous<br>
         potential with complete hands-on experience.
      </p>
    </div>
    <div class="row">
       <div class="col-md-8">
         <div class="couser_left">
            <div class="left_couser_bg">
              <h3>Learn iOS Development</h3>
              <p class="coursers_pcontent">
                As you make your way through the lessons you’ll learn about concepts in iOS app development,
                 gain a deeper understanding of the Swift programming language, and familiarize yourself with
                 the many valuable features.
               </p>
            </div>
            <div class="left_couser_bg">
              <h3>What you'll learn?</h3>
              <div class="row">
                <div class="col-md-6">
                  <ul class="courses_ulli">
                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Introduction <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample1">
                        <div class="card card-body col-md-10" style=" color: #fff;
                        background-color: #535353;width:300px;">
                          <ul>
                            <li>Introduction to iOS devices and OS’s</li>
                            <li>Programming languages </li>
                            <li>Dev tools </li>
                            <li>App dev program</li>
                          </ul>
                        </div>
                      </div>

                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Swift Basics (Part-1) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample2">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li> Introduction </li>
                          <li>Constants and Variables</li>
                          <li>Basic Type and Type Annotations</li>
                          <li>Optionals</li>
                          <li>Functions</li>
                        </ul>
                      </div>
                        </div>

                        <li>
                          <a class="aclick" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            iOS app architecture   <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                          </a></li>
                          <div class="collapse" id="collapseExample3">
                            <div class="card card-body col-md-10" style=" color: #fff;
                        background-color: #535353;">
                          <ul>
                            <li> Introduction </li>
                            <li>MVC</li>
                            <li>View controllers</li>
                            <li>Storyboards</li>
                            <li>Outlets, Actions</li>
                          </ul>
                        </div>
                          </div>

                          <li>
                            <a class="aclick" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Auto Layout <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                            </a></li>
                            <div class="collapse" id="collapseExample4">
                              <div class="card card-body col-md-10" style=" color: #fff;
                          background-color: #535353;">
                            <ul>
                              <li> Introduction </li>
                              <li>Constraints, Conflicting Constraints</li>
                              <li>Misplaced Views</li>
                              <li>Content Hugging</li>
                              <li>Compression Resistance, Size Classes</li>
                            </ul>
                          </div>
                            </div>



                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Swift (Part II) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample5">
                        <div class="card card-body col-md-10" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>Collections</li>
                        <li>Control Flow </li>
                        <li>Initialization, Deinitialization </li>
                        <li>Protocols </li>
                        <li>Error Handling, Access Control </li>
                      </ul>
                    </div>
                      </div>


                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Storyboards <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample6">
                        <div class="card card-body col-md-10" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>Scenes</li>
                        <li>Segues   </li>
                        <li>Passing Data Between Screens </li>
                        <li>Navigation Controller  </li>
                      </ul>
                    </div>
                      </div>


                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Table Views <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample7">
                        <div class="card card-body col-md-10" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>Introduction</li>
                        <li>Data Sources   </li>
                        <li>Delegates</li>
                      </ul>
                    </div>
                      </div>


                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Collection Views <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample8">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li>Introduction </li>
                          <li>Data Sources   </li>
                          <li>Delegates  </li>
                          <li>supplement views tables and collections</li>
                        </ul>
                      </div>
                        </div>


                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Swift (Part III) <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample9">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li>Computed Properties</li>
                          <li>Property Observers </li>
                          <li>Extensions   </li>
                          <li>Function Types   </li>
                          <li>Closures   </li>
                        </ul>
                      </div>
                        </div>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="courses_ulli">
                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Networking <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample10">
                        <div class="card card-body col-md-10" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>URLSession</li>
                        <li>data task, upload task, download task    </li>
                        <li>Working with Alamofire </li>
                        <li>Image downloads </li>
                        <li>Codable protocols </li>
                      </ul>
                    </div>
                      </div>


                    <li>
                      <a class="aclick" data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Local storage <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                      </a></li>
                      <div class="collapse" id="collapseExample11">
                        <div class="card card-body col-md-10" style=" color: #fff;
                    background-color: #535353;">
                      <ul>
                        <li>  User Defaults </li>
                        <li>Working with Files</li>
                        <li>Archiving</li>
                        <li>Core Data
                        </li>
                      </ul>
                    </div>
                      </div>

                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample12" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Gestures <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample12">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li>  Introductions </li>
                          <li>tap, swipe, pan gestures</li>
                          <li>Touch Notification Methods</li>
                          <li>Gesture Recognizers
                          </li>
                        </ul>
                      </div>
                        </div>

                        <li>
                          <a class="aclick" data-toggle="collapse" href="#collapseExample13" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Animation <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                          </a></li>
                          <div class="collapse" id="collapseExample13">
                            <div class="card card-body col-md-10" style=" color: #fff;
                        background-color: #535353;">
                          <ul>
                            <li>   Core Animation </li>
                            <li>UIView Core Animation Blocks</li>
                            <li>Animation Curves</li>
                            <li>Transformations
                            </li>
                          </ul>
                        </div>
                          </div>

                          <li>
                            <a class="aclick" data-toggle="collapse" href="#collapseExample14" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Notifications <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                            </a></li>
                            <div class="collapse" id="collapseExample14">
                              <div class="card card-body col-md-10" style=" color: #fff;
                          background-color: #535353;">
                            <ul>
                              <li>   Introduction </li>
                              <li>Best Practices</li>
                              <li>App States</li>
                              <li>App Lifecycle
                              </li>
                              <li>Moving to the Background</li>
                            </ul>
                          </div>
                            </div>

                            <li>
                              <a class="aclick" data-toggle="collapse" href="#collapseExample15" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Dependancy Management <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                              </a></li>
                              <div class="collapse" id="collapseExample15">
                                <div class="card card-body col-md-10" style=" color: #fff;
                            background-color: #535353;">
                              <ul>
                                <li>   Cocoapods </li>
                                <li>Installation</li>
                                <li>Usage of cocoapods in apps</li>
                              </ul>
                            </div>
                              </div>

                              <li>
                                <a class="aclick" data-toggle="collapse" href="#collapseExample16" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  Unit testing <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                                </a></li>
                                <div class="collapse" id="collapseExample16">
                                  <div class="card card-body col-md-10" style=" color: #fff;
                              background-color: #535353;">
                                <ul>
                                  <li>Unit test cases</li>
                                  <li>UI test cases</li>
                                </ul>
                              </div>
                                </div>

                                <li>
                                  <a class="aclick" data-toggle="collapse" href="#collapseExample17" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Deployment <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                                  </a></li>
                                  <div class="collapse" id="collapseExample17">
                                    <div class="card card-body col-md-10" style=" color: #fff;
                                background-color: #535353;">
                                  <ul>
                                    <li>Icons and Launch Images</li>
                                    <li>Archiving</li>
                                    <li>Distribution</li>
                                    <li>iTunes Connect</li>
                                  </ul>
                                </div>
                                  </div>

                  </ul>
                </div>
              </div>
            </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="couser_left">
           <div class="course_content_section">
             <img src="../../../assets/images/course_one.png" alt="couser_one" class="course_image">
           <div class="course_content">
             <h5 class="duration_courses">Duration of Course</h5>
             <p style="font-size: 18px;">3 Months</p>
           </div>
           </div>
         </div>
      </div>


    </div>
  </div>
</section>
<section>
  <div class="home_aboutmanteios">
     <div class="container" style="padding-bottom: 1%;">
      <p style="color: #ff7a04;
      padding-top: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;">
        STEP OUT OF THE BOX
      </p>
      <P class="yourtune">Diversify your knowledge</P>
      <button class="btn joinus3">
        <a href="#enroll" data-toggle="modal"> Enroll Now
       <img src="../../../assets/images/right-sidearrow.png" style="width:15%"></a></button>
     </div>
  </div>


</section>

