<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Business Analyst</h3>
       <p>
        An opportunity for career exploration and development. Gain practical
        work experience in a multicultural environment.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<section >
  <div class="container">
    <h3 class="section4">Learn Business Analyst</h3>
    <!--heading underline section start-->
    <div>
      <p style="text-align: center; font-size: 16px; margin-top: 10px;">
       We have crafted a 14 - week course that will help you to transform into a budding.<br>
       Designer a complete hands-on experience.
      </p>
    </div>
    <div class="row">
       <div class="col-md-8">
         <div class="couser_left">
            <div class="left_couser_bg">
              <h3>Fine-tune your skills and Evolve</h3>
              <p class="coursers_pcontent">
                The role of a business analyst is constantly evolving and changing. Enhance your approach,
                fine-tune your skills, and gear up for a head start as business Analyst. We offer the perfect program
                to kixk start your career that has endless growth apportunities.
               </p>
            </div>
            <div class="left_couser_bg">
              <h3>What you'll learn?</h3>
                <div class="row">
                  <div class="col-md-10">
                    <ul class="courses_ulli">
                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Introduction <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample1">
                          <div class="card card-body col-md-10" style=" color: #fff;
                          background-color: #535353;width:300px;">
                            <ul>
                              <li>Who is Business Analyst?</li>
                              <li>What is requirement? </li>
                              <li>What are types of requirement? </li>
                              <li>Who is stakeholder? </li>
                              <li>What is business process modeling?</li>
                            </ul>
                          </div>
                        </div>

                        <li>
                          <a class="aclick" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            SDLC Methodologies and Models <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                          </a></li>
                          <div class="collapse" id="collapseExample2">
                            <div class="card card-body col-md-10" style=" color: #fff;
                        background-color: #535353;">
                          <ul>
                            <li> 	Waterfall Model </li>
                            <li>Spiral Model</li>
                            <li>Iterative Model</li>
                            <li>Agile – Scrum</li>

                          </ul>
                        </div>
                          </div>

                          <li>
                            <a class="aclick" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Development of Business Requirement Document (BRD)  <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                            </a></li>
                            <div class="collapse" id="collapseExample3">
                              <div class="card card-body col-md-10" style=" color: #fff;
                          background-color: #535353;">
                            <ul>
                              <li> 	BRD Description and importance </li>
                              <li>How to document requirements?</li>
                              <li>Business process overview</li>
                              <li>Flowcharts</li>
                              <li>Functional and non-functional requirements</li>
                              <li>In-scope and out of scope functionality</li>
                              <li>Risks</li>
                            </ul>
                          </div>
                            </div>

                            <li>
                              <a class="aclick" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Requirement gathering techniques <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                              </a></li>
                              <div class="collapse" id="collapseExample4">
                                <div class="card card-body col-md-10" style=" color: #fff;
                            background-color: #535353;">
                              <ul>
                                <li> Brainstorming </li>
                                <li>Document Analysis</li>
                                <li>Reverse Engineering </li>
                                <li>Focus Groups</li>
                                <li>Observation</li>
                                <li> Interview </li>
                                <li>Prototyping</li>
                                <li>Questionnaire </li>
                                <li>Workshop</li>
                                <li>JAD</li>
                              </ul>
                            </div>
                              </div>



                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                      	Requirement Validation Techniques <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample5">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li>SMART</li>
                          <li>FURPS </li>
                        </ul>
                      </div>
                        </div>


                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Stakeholder Management <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                        </a></li>
                        <div class="collapse" id="collapseExample6">
                          <div class="card card-body col-md-10" style=" color: #fff;
                      background-color: #535353;">
                        <ul>
                          <li>Identify Stakeholders</li>
                          <li>Stakeholder Listing Document   </li>

                        </ul>
                      </div>
                        </div>


                      <li>
                        <a class="aclick" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Usecase Development
                        </a></li>

                        <li>
                          <a class="aclick" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Handling Change Request <i class="fa fa-angle-double-right arrowclick" aria-hidden="true"></i>
                          </a></li>
                          <div class="collapse" id="collapseExample8">
                            <div class="card card-body col-md-10" style=" color: #fff;
                        background-color: #535353;">
                          <ul>
                            <li>Importance and Handling of change request </li>
                          </ul>
                        </div>
                          </div>
                    </ul>
                  </div>
                </div>
         </div>
       </div>
       </div>
       <div class="col-md-4">
         <div class="couser_left">
           <div class="course_content_section">
             <img src="../../../assets/images/course_one.png" alt="couser_one" class="course_image">
           <div class="course_content">
             <h5 class="duration_courses">Duration of Course</h5>
             <p style="font-size: 18px;">3 Months</p>
           </div>
           </div>
         </div>
      </div>


    </div>
  </div>
</section>
<section>
  <div class="home_aboutmanteios">
     <div class="container" style="padding-bottom: 1%;">
      <p style="color: #ff7a04;
      padding-top: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;">
        STEP OUT OF THE BOX
      </p>
      <P class="yourtune">Diversify your knowledge</P>
      <button class="btn joinus3">
        <a href="#enroll" data-toggle="modal"> Enroll Now
       <img src="../../../assets/images/right-sidearrow.png" style="width:15%"></a></button>
     </div>
  </div>


</section>
