<div id="mySidebar" class="sidebar lefttoright" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span></button>
    <div>
      <img src="../../../assets/images/Manteio-logo-02.png" id="main_logo" alt="logo" style="width: 100%;margin-top: 30px;" class="mobilelogo" />
    </div>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav manu-top-sidelogo">
       <li>
        <div id="manteio_logo_main1">
          <a href="index.html">
          <img src="../../../assets/images/Manteio-logo-02.png" alt="logo" class="sidebar_logo"  />
          </a>
        </div>
        </li>
        <br>
        <li class="nav-item side_navli" ><a class="nav-link js-scroll-trigger sidebar_link rotate_animation" href="" routerLink="/home"><span class="sideicon"><img src="../../../assets/images/side_icon_one.png" /></span><span class="moveeffect">Home</span></a></li>
        <li class="nav-item side_navli"><a class="nav-link js-scroll-trigger sidebar_link rotate_animation" href="" routerLink="/aboutus"><span class="sideicon"><img src="../../../assets/images/side_icon_2.png" /></span><span class="moveeffect1">About Us</span></a></li>
        <li class="nav-item side_navli">
          <div class="nav-link js-scroll-trigger dropdown-toggle sidebar_link rotate_animation" role="button" id="dropdownMenuButton" data-toggle="dropdown" href="#education">
          <span class="sideicon">
            <img src="../../../assets/images/side_icon_8.png"/>
            </span><span class="moveeffect2" style="font-size: 14px;">Products</span>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://mtacpro.com/" target="blank">MTac pro</a>
            <a class="dropdown-item" href="http://mcredpro.com/mcredpro" target="blank">MCred Pro</a>
            <a class="dropdown-item" href="" routerLink="/msafehome" target="blank">MSafe Home</a>
          </div>
        </li>
        <!-- <li>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li> -->
        <li class="nav-item side_navli">
          <div class="nav-link js-scroll-trigger dropdown-toggle sidebar_link rotate_animation" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#education">
          <span class="sideicon">
            <img src="../../../assets/images/side_icon_3.png"/>
            </span><span class="moveeffect3" style="font-size: 14px;">Services</span>
          </div>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul class="navbar-nav">
              <li> <a class="dropdown-item" href="" routerLink="/webdesigning">Web Designing</a></li>
              <li> <a class="dropdown-item" href="" routerLink="/mobileapplication">Mobile Application</a></li>
              <li> <a class="dropdown-item" href="" routerLink="/ecommerce">Ecommerce</a> </li>
              <li>
            <a class="dropdown-item" href="" routerLink="/digitalmarketing">Digital Marketing</a></li>
                <li> <a class="dropdown-item" href="" routerLink="/aichatbot">AI Chatbot</a></li>
                <li> <a class="dropdown-item" href="" routerLink="/arvr3d">AR/VR/3D</a></li>
             </ul>
          </div>
        </li>
        <li class="nav-item side_navli"><a class="nav-link js-scroll-trigger sidebar_link rotate_animation" href=""  routerLink="/careers" ><span class="sideicon">
          <img src="../../../assets/images/side_icon_4.png" /></span><span class="moveeffect4">Careers</span></a></li>
        <li class="nav-item side_navli"><a class="nav-link js-scroll-trigger sidebar_link rotate_animation" href=""  routerLink="/mpracticum" ><span class="sideicon"><img src="../../../assets/images/side_icon_5.png" /></span><span class="moveeffect5">MPracticum</span></a></li>
        <li class="nav-item side_navli"><a class="nav-link js-scroll-trigger sidebar_link rotate_animation" href="" routerLink="/contactus" ><span class="sideicon"><img src="../../../assets/images/side_icon_6.png" /></span><span class="moveeffect6">Contact Us</span></a></li>
      </ul>
    </div>
  </nav>
  </div>

<div id="main">
  <!-- End Header Area -->
  <!-- start banner Area -->
  <section class="home-banner-area relative main-banner-image" id="home" data-parallax="scroll">
    <div class="container">
      <div class="row fullscreen">
        <div class="row maintopbar" style="width: 100%;z-index: 9;">
          <div class="col-md-5">
            <div style="width: 60%;" id="manteio_logo_main">
              <a href="index.html">
              <img src="../../../assets/images/Manteio-logo-02.png" alt="logo" style="width: 75%;margin-top: 30px;margin-left: 10px;"  />
            </a>
            </div>
          </div>
          <div class="col-md-7">

            <div class="topinfo">
              <ul class="social_bannericons">
                <li>
                  <i class="fa fa-phone" style="color: #ff7a04;"></i>
                  <a href="tel:+919391385170" style="color:#fff;">+91 9391385170</a>
                </li>
                <li>
                  <i class="fa fa-envelope" style="color: #ff7a04;"></i>
                  <a style="color:#fff;" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&su=Hi+There&to=info@manteio.in&body=body+goes+here" target="_blank">
                  Connect@manteio.in
                </a>
                </li>
                <li>
                  <div class="head-bottom-meta">
                    <div class="d-flex meta-left no-padding">
                      <a href="https://www.facebook.com/manteioIT/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                        <span class="fa fa-facebook-f"></span></a>
                      <a href=" https://twitter.com/manteio_IT" target="_blank" data-toggle="tooltip" data-placement="bottom" title="twitter">
                        <span class="fa fa-twitter"></span></a>
                      <a href="https://www.instagram.com/manteio_it_solutions" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram">
                        <span class="fa fa-instagram"></span></a>
                      <a href="https://www.linkedin.com/company/manteiotechnologies" target="_blank" data-toggle="tooltip" data-placement="bottom" title="linkedin">
                        <span class="fa fa-linkedin-square"></span></a>
                      <a href="https://in.pinterest.com/manteioIT/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="pinterest">
                        <span class="fa fa-pinterest" ></span></a>
                      <a href="https://www.youtube.com/channel/UCPWkLJq6dVm0eHoj44i5S6Q" target="_blank" data-toggle="tooltip" data-placement="bottom" title="youtube">
                        <span class="fa fa-youtube-play"></span></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/col-->


    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
    <script>
      $(document).ready(function () {
        $("nav").find("li").on("click", "a", function () {
            $('.navbar-collapse.in').collapse('hide');
        });
    });
    </script>

<!--/main col-->

  <!-- End banner Area -->
  <button class="btn btn-primary scroll-top" style="position: fixed;
  border: 1px solid rgb(43, 43, 43);
  right: 15px;
  background-color: rgb(247, 122, 4);
    z-index: 9;
    bottom: 100px;
  display: none;" id="back-to-top" data-scroll="up" type="button">
    <i class="fa fa-chevron-up"></i>
    </button>
  <!-- start footer Area -->
  <footer class="footer-area section-gap footerareas">
    <div class="container">
    <img src="../../../assets/images/section_footerside.png" alt="footer_sideanimation" class="footer_sideanimaiom">
    <div class="container" style="padding-bottom: 40px;">
      <!-- Footer Links -->
      <div class="text-center text-md-left sectionmargin">

        <!-- Grid row -->
        <div class="row" style=" padding-top: 30px;">

          <!-- Grid column -->
          <div class="col-md-2">

            <h5 class="font-weight-bold mt-3 mb-2" style="color: #ff7a04;font-weight: 500!important;">Our Products</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://mcredpro.com/">MCred Pro</a>
              </li>

              <li>
                <a href="https://mtacpro.com/">MTac Pro</a>
              </li>

              <li>
                <a href="" routerLink="/msafehome" target="blank">MSafeHome</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2">

            <!-- Links -->
            <h5 class="font-weight-bold  mt-3 mb-2" style="color: #ff7a04;font-weight: 500!important;">Quick Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Home</a>
              </li>

              <li>
                <a href="" routerLink="/aboutus">About Us</a>
              </li>

              <li>
                <a href="#!">Services</a>
              </li>
              <li>
                <a href="#!">Industries</a>
              </li>
              <li>
                <a href="" routerLink="/careers">MPracticum</a>
              </li>
              <li>
                <a href="" routerLink="/contactus">Contact Us</a>
              </li>
              <li>
                <a href=""  routerLink="/careers">Careers</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-2" style="color: #ff7a04;font-weight: 500!important;">Contact Us</h5>

                <p>
                  Connect@manteio.in
                <br><br>
                <a href="tel:+919391385170">+91 9391385170</a>

                <br>
                 Rama Mansion 3rd floor,<br>
                 Begumpet, Hyderabad <br />
                 Telangana - 500016
                 </p>

              </div>

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-5">

            <!-- Links -->

            <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3146290153127!2d78.46695701435397!3d17.444648805743963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99e3b3409709%3A0x20b2f106c3d195aa!2sManteio%20IT%20Solutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1597479544512!5m2!1sen!2sin" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
    </div>
  </div>
  </footer>
  <section style="background-color: #3a3939;">
    <div class="container">
           <!-- Copyright -->
     <div class="footer-copyright">
      <div class="sectionmargin">
        <div class="row">
          <div class="col-md-4">
            <p class="footericons" style="margin-bottom: 0rem;">
              <a href="https://www.facebook.com/manteioIT/" target="_blank" ><span class="fa fa-facebook-f footer_icon"></span></a>
              <a href=" https://www.twitter.com/manteioIT" target="_blank" ><span class="fa fa-twitter footer_icon"></span></a>
              <a href="https://www.instagram.com/manteio_it_solutions" target="_blank"><span class="fa fa-instagram footer_icon"></span></a>
              <a href="https://www.linkedin.com/company/manteiotechnologies" target="_blank"><span class="fa fa-linkedin-square footer_icon"></span></a>
              <a href="https://in.pinterest.com/manteioIT/" target="_blank"><span class="fa fa-pinterest footer_icon"></span></a>
              <a href="https://www.youtube.com/channel/UCPWkLJq6dVm0eHoj44i5S6Q" target="_blank"><span class="fa fa-youtube-play footer_icon"></span></a>
            </p>
          </div>
          <div class="col-md-5">
            <p class="rightsreserved" style="margin-bottom: 0rem;"><a href="#" style="color: #fff;"> ©2020 - All Rights Reserved</a></p>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/images/Manteio-logo-02.png" alt="logo" class="footer_logo">
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- End footer Area -->
</div>
<div id="enroll" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:auto;overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-body" style="background-image: url(../../../assets/images/popup_pattern.png);">
            <!-- <img src="../../../assets/images/popup_object.png" alt="popup_object" class="popup_object"> -->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="enroll_lefts">
              <h3>Enrollment Form</h3>
              <div class="row">
                <div class="col-md-8">
                  <form class="enroll_form" style="padding: 20px;
                  margin-top: 5%;" [formGroup]="enrollform" (ngSubmit)="submitForm()">
                    <div class="form-row" style=" margin-bottom: 20px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Name" formControlName="Name"  name="Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" formControlName="Email"  name="Email">
                        </div>
                    </div>
                    <div class="form-row" style=" margin-bottom: 20px;">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Phone Number" formControlName="MobileNo"  name="phonenumber" >
                    </div>
                        <div class="col">
                          <select type="text" class="form-control" placeholder="Select Course" formControlName="Course"  name="course">
                            <option value="">Select Course</option>
                            <option value="iosdevelopment">IOS Development</option>
                            <option value="digitalmarketing">Digital Marketing</option>
                            <option value="businessanalyst">Business Analyst</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-row" style=" margin-bottom: 20px;">
                        <div class="col">
                            <textarea type="text" class="form-control" placeholder="Message" formControlName="Message"  name="Message" rows="4" style="height: 124px;"></textarea>
                        </div>
                    </div>
                    <div class="form-row" style=" margin-bottom: 20px;">
                        <button class="btn btn-primary sendmessage_button" >Send Message</button>
                    </div>
                </form>
                </div>
                <div class="col-md-4">
                    <div>
                      <img src="../../../assets/images/contact_right.png" alt="courses_right_image" class="couese_right">
                    </div>
                </div>
              </div>
              <div>
              </div>
            </div>
  </div>
</div>
</div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
  </ngx-spinner>

