
<canvas id="confetti-holder" class="celebrationlook"></canvas>
  
<section class="banner_image">

 <div class="container">
    <div class="dmmarkrting_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Mpracticum</h3>
       <p>
         An opportunity for career exploration and development. Gain practical
        work experience in a multicultural environment.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <h5 class="section4 ">Choose a Course</h5>

  <div class="row">
    <div class="col-md-3">

    </div>
<div class="col-md-6" >
<p style="text-align: center;margin-top:20px;font-size: 15px;">Boost your skills with our complete set of module concentrated courses that focus on relevant topics.</p>
</div>
<div class="col-md-3">

</div>
<div class="Cards">

  <div class="MPract-cards-div">
<div class="row">
<div class="col-md-3 mprt_card">

<div class="card Mprac_card" style="border: none;">


  <img class="card-img-top" src="../../../assets/images/Mprac-Notebook.png" alt="Card image cap">


  <div class="card-body Mprac-b" >


    <h6 class="card-title" style="color:#ff7a04; font-weight: 600;margin-top:8px;"><a>Digital Marketing</a></h6>

    <p class="card-text">Gain feasible expertise over all the domains that fall under the umbrella of digital marketing.</p>

    <button class="btn btn-success float-right mpract_enroll_button">
    <a href="#"  [routerLink]="['/dmcourse']">
    Enroll Now</a>
  </button>
  </div>

</div>

</div>
<div class="col-md-3 mprt_card">

<div class="card Mprac_card" style="border: none;">


  <img class="card-img-top" src="../../../assets/images/Mprac-Planning.png" alt="Card image cap">


  <div class="card-body Mprac-b" >


    <h6 class="card-title " style="color:#ff7a04; font-weight: 600;margin-top:8px;"><a>Business Analyst</a></h6>

    <p class="card-text"> Attain valuable business analysis skills and experience. Learn data analysis, the business process,solve business problems.</p>

  <button class="btn btn-success float-right mpract_enroll_button">
  <a href="#" [routerLink]="['/bacourse']">
  Enroll Now</a>
</button>


  </div>
</div>

</div>
<div class="col-md-3 mprt_card">

<div class="card Mprac_card" style="border: none;">


  <img class="card-img-top" src="../../../assets/images/Mrac-Laptop.png" alt="Card image cap">

  <div class="card-body Mprac-b" >


    <h6 class="card-title" style="color:#ff7a04;font-weight: 600;margin-top:8px;"><a>iOS Development</a></h6>

    <p class="card-text ">Boost your skills and hands on live projects to fortify your expertise. Explore new innovations and bolster your programming skills.</p>

    <button class="btn btn-success float-right mpract_enroll_button">
    <a href="#" [routerLink]="['/ioscourse']">
    Enroll Now</a>
  </button>

  </div>

</div>
</div>
</div>
</div>
</div>
  </div>
  </div>
</section>
<!-- End All industries  section -->
<section>
  <div class="home_aboutmanteios">
     <div class="container" style="padding-bottom: 1%;">
      <p style="color: #ff7a04;
      padding-top: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;">
        STEP OUT OF THE BOX
      </p>
      <P class="yourtune">Diversify your knowledge</P>
      <button class="btn joinus3">
        <a href="#enroll" data-toggle="modal"> Enroll Now
       <img src="../../../assets/images/right-sidearrow.png" style="width:15%"></a></button>
     </div>
  </div>


</section>

