<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>AI Chat Bot</h3>
       <p>
        Standout  the way you connect network, engage and follow up with contacts.<br />
         Better and faster with MBot. It caters to consumer intent across industries whilst<br>
         devlivering a seamless experience.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>

<!-- Start transformation  Area  -->
<section>
  <div class="container">
    <h3 class="section4" style="text-align: center;">Website ChatBot Maker</h3>
    <!--heading underline section end-->
    <div class="row" style="padding-bottom:20px;">
      <p class="aibot_sectionone_text">
        MBot is an AI powered chat bot platform that enables you to quickly and easily build
        incredible chatbots to communicate and engage your customers on website, Facebook messengers and
        other platforms.
      </p>
    </div>
    </div>
    </section>
   <section class="section_2aibot">
     <img src="../../../assets/images/ptpt.png" alt="animationimage" class="animation_aichatbot"/>
     <div class="container">
        <div class="row" style="padding-bottom: 3%;padding-top:3%;">
          <div class="col-md-6">
            <div class="left_sectionalbot">
            <h5 class="converstional_h5">Conversational AI to Engage and <br>
            Retain Customers</h5>

            <p>
            We are changing the way we engage with customers–vastly improving reach, responsiveness
            and personalization. Marketing, commerce and many industries are now leveraging these
            technologies on broader spectra to achieve remarkable gains in self-service, customer
            experience and operational insights.</p>
            <div style="margin-top:40px;">
              <ul>
                <li>Ready-to-Deploy Bots</li>
                <li>Integrate Anywhere</li>
                <li>Engage, Retain, Monetize</li>
              </ul>
             <!-- <p>Ready-to-Deploy Bots</p>
             <p>Integrate Anywhere</p>
             <p>Engage, Retain, Monetize</p> -->
            </div>
          </div>
          </div>
          <div class="col-md-6">
           <img src="../../../assets/images/aibot_one.png" alt="image_one" class="aibot">
          </div>
        </div>
     </div>
   </section>

   <section>
    <div class="container">
      <h3 class="section4" style="text-align: center;">What we offer</h3>

       <div class="row" style="padding-bottom: 3%;">
          <div class="col-md-5">
            <div class="row whatweoffer">
              <div class="col-md-3">
                 <img src="../../../assets/images/albot-lo1.png" alt="albot1">
             </div>
             <div class="col-md-9">
                 <h5 style="color: #ff7a04;font-weight: 600;">Improve productivity</h5>
                 <p>Perform supporting functions, automates processes, and streamlines manual tasks.</p>
              </div>
            </div>

            <div class="row whatweoffer">
              <div class="col-md-3">
                 <img src="../../../assets/images/albot-lo2.png" alt="albot1">
             </div>
             <div class="col-md-9">
                 <h5 style="color: #ff7a04;font-weight: 600;">Customer Service ChatBot</h5>
                 <p>Let your bot handle the frequently asked questions.</p>
              </div>
            </div>

            <div class="row whatweoffer">
              <div class="col-md-3">
                 <img src="../../../assets/images/albot-lo3.png" alt="albot1">
             </div>
             <div class="col-md-9">
                 <h5 style="color: #ff7a04;font-weight: 600;">Assistant Bot</h5>
                 <p>Customer service chatbot for a website that schedules meetings for you and sends
                   you reminders and notifications.</p>
              </div>
            </div>

            <div class="row whatweoffer">
              <div class="col-md-3">
                 <img src="../../../assets/images/albot-lo4.png" alt="albot1">
             </div>
             <div class="col-md-9">
                 <h5 style="color: #ff7a04;font-weight: 600;">Order booking Bot</h5>
                 <p>Let MBot handle your sales counter.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="aibot_weoffer_image_right">
                <img src="../../../assets/images/albot-lo5.png" alt="rightimage_albot"  class="albot_rightone">
              </div>
          </div>
       </div>
      </div>
    </section>

    <section class="section_5aibot">
      <div class="container">
        <h3 class="section4" style="text-align: center;padding:0px;margin-top: 10px;
        padding-top: 50px;">Why your business needs a chatbot</h3>
        <div class="albot_mainrow" style="color:#fff; padding-bottom: 3%;">
           <div class="row">
              <div class="col-md-5 albot_boardersection">
                 <div class="row" style="margin-top:20px;">
                   <div class="col-md-3">
                     <img src="../../../assets/images/albot_sectionimages1.png" alt="albot_sectionimages"/>
                   </div>
                   <div class="col-md-9">
                    <h6>24X7 Availability</h6>
                    <p>MBot doesn't sleep, it's there at your service 24*7 .</p>
                  </div>
                 </div>
              </div>
              <div class="col-md-5 albot_boardersection">
                <div class="row" style="margin-top:20px;">
                  <div class="col-md-3">
                    <img src="../../../assets/images/albot_sectionimages4.png" alt="albot_sectionimages"/>
                  </div>
                  <div class="col-md-9">
                   <h6>Minimize errors</h6>
                   <p>MBot does not make mistakes while recording data.</p>
                 </div>
                </div>
              </div>
           </div>
           <div class="row" >
            <div class="col-md-5 albot_boardersection">
              <div class="row" style="margin-top:20px;">
                <div class="col-md-3">
                  <img src="../../../assets/images/albot_sectionimages3.png" alt="albot_sectionimages"/>
                </div>
                <div class="col-md-9">
                 <h6>Round the Clock Assistance</h6>
                 <p>Don't let your customers change their mind, take their info/ order.</p>
               </div>
              </div>
            </div>
            <div class="col-md-5 albot_boardersection">
              <div class="row" style="margin-top:20px;">
                <div class="col-md-3">
                  <img src="../../../assets/images/albot_sectionimages2.png" alt="albot_sectionimages"/>
                </div>
                <div class="col-md-9">
                 <h6>Gain insights</h6>
                 <p>Gain real-time, conversational insights and expand your capabilities.</p>
               </div>
              </div>
            </div>
         </div>
        </div>
        </div>
    </section>



     <section>
      <div class="container">
        <h3 class="section4" style="text-align: center;padding:0px;margin-top: 10px;
        padding-top: 50px;">Intelligent Automation For Radical Busniess Transformation<br>
          </h3>

        <div class="row" style="padding-bottom:3%;">
          <div class="col-md-6">
            <div>
              <p class="albot_textsection">
                Today, most incumbent organizations across industries are grappling with the risks of digital
                disruption on one hand, even as they reach for it opportunities on the other. Most are responding
                by committing to the idea of digital transformation. Intelligent automation has become a game-changer.
                <br><br>

                Smart organisations are now conscious of the urgency in deploying intelligent automation. They know
                it can improve the use of their IT assets, help meet organisational strategies, deliver cost reduction
                 goals, enable the adoption of new technologies and transform customer experience.<br><br>

               At Manteio intelligent automation is a way of life. We use it aggressively to deliver our own productivity.
               It dictates everything from development to transition and from testing to run process.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <img src="../../../assets/images/chatbot_new_image1.png" alt="section_image_new" class="newimage_aichatb">
            </div>
          </div>
        </div>
       </div>
     </section>
