<section class="banner_image">
  <div class="container">
    <div class="about_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Ecommerce</h3>
       <p>
        Streamlined digital commerce solutions that will enable those who are
       agile and have vision to do business differently to navigate
       the crisis in an innovative way.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3 class="section4">
     Notion of Ecommerce
    </h3>
    <div class="row">
      <div class="col-md-6 Digital_section2">
        <p style="color: #fff;">
          With advancements in technology ecommerce is now subject to all industries.
          Serve your customers online while improving your reachability. Boost your
           business whatever domain you are in.<br>
           <br>
          The combination of experience and fresh ideas allows us to collaborate effectively
           towards a winning business strategy, implement solutions of uncompromised quality
           and lead their businesses to new heights. Offering a comprehensive set of ecommerce
           services. We secure a possibility to enter the next stage.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/ecom_section1_image.png" alt="aboutus_right" style="width:85%" />
      </div>
    </div>
  </div>
</section>

<section class="dmservices_bg1">
  <div class="container">
    <h3 class="section4" style="color:#fff;">
      Our Services
    </h3>
    <div>
      <p class="digital_section3">
        Give wings to your plan, Earn your Brand with Manteio's ecommerce solutions.
        Smart and customized ecommerce services for all. Connect your online store with
        required ecommerce customization seamless with number of unique integrations that help
        you streamline your business.

      </p>
    </div>

    <div class="dm_catlogs">
      <div class="row">
        <div class="col-md-4 sideline_section">
          <div class="dot"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom1.png" alt="socialmeadia" class="image_dmone"/>
          <h6>B2B Selling</h6>
          <p>Maximize growth with B2B ecommerce platform.</p>
          </div>
        </div>
        <div class="col-md-4 sideline_section">
          <div class="dot2"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom2.png" alt="socialmeadia" class="image_dmtwo" />
            <h6>Fulfil your orders</h6>
            <p>Ensure the smoothest fulfillment  with innovative suite of tools.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom3.png" alt="socialmeadia" class="image_dmthree" />
          <h6>Design your site</h6>
          <p>Building unique website as unique as your need.</p>
          </div>
        </div>
      </div>
      <div class="row dm_section2_2">
        <div class="col-md-4 sideline_section">
          <div class="dot"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom4.png" alt="socialmeadia" class="image_dmfour" />
          <h6>Add your catalogue</h6>
          <p> Creating a clutter-free shopping experience for experience.</p>
          </div>
        </div>
        <div class="col-md-4 sideline_section">
          <div class="dot2"></div>
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom5.png" alt="socialmeadia" class="image_dmfive"/>
          <h6>Attract Visitors</h6>
          <p>Give digital delight at every consumer touchpoint to every visitor.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dm_catlogstext">
            <img src="../../../assets/images/ecom6.png" alt="socialmeadia" class="image_dmsix"/>
            <h6>Manage Stock</h6>
            <p>Efficiently manage the product stock across the marketplace
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <h3 class="section4" style="text-align: center;padding:0px;
    padding-top: 40px;">Changing landscapes of eCommerce
      </h3>

    <div class="row">
        <div class="col-md-6">
        <div>
          <p class="albot_textsection">
          Digital commerce enables personalized experiences to help business win and retain customers.
           But to satisfy buyers, tightly integrated channels must deliver a consistent brand experience
           with targeted messages for each step in their buying journey. Digital commerce tools allow you
           to respond quickly to sudden market shifts and simultaneously deliver new products and services
           across channels.<br>
           <br>
            Millions of online customers changing their behavior at the some time to opt for more time saving
            and convenience puts a considerable strain on e-commerce and online retailers today. How they choose
            to react will define the future of e-commerce. Many are choosing to remove the friction that stands
            in the way of turning occasionally customers into the most loyal. And they're starting with securing
            online identities and protecting accounts from takeover control.
        </p>
        </div>
        </div>
        <div class="col-md-6">
           <div>
             <img src="../../../assets/images/new-x-image.png" alt="e-new-image" class="e-new-image">
           </div>
        </div>
    </div>
   </div>
 </section>


