.banner_image{
  background-image: url(../../../assets/images/Webdesign.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  right: 0;
  z-index: -9;
  margin-top: -120px;
}

.bannertexts{
  position: absolute;
  margin-top: 25%;
  margin-left: 8%;
  width: 500px;
  color: #ffff;
  z-index: 999;
}
.bannertexts h3{
  color:#fff;
}
.bannertexts p{
 color:#fff;
}
.webdesing_section1{
  width:75%;margin-top:5%;margin-bottom:5%;
}
.desing_box{
  margin-left:20%;
}
.design_solutions{
  margin-top: 70px;line-height: 30px;
}
@media (max-width:764px) {
  .fatcs_heading_image {
    margin-left: 33%!important;
    margin-top: 15px;
    width: 100px;
}
  .desing_box{
    margin-left:0%;
  }
  .webdesing_section1{
    width:100%;margin-top:5%;margin-bottom:5%;
  }
  .banner_image{
    height: 330px;
    width: 100%;
    right: 0;
    margin-top: 0px;
    top: -36px;
  }
  .bannertexts{
    position: absolute;
    margin-top: 25%;
    margin-left: 8%;
    width: 285px;
    color: #ffff;
    z-index: 999;
  }
  .facts {
    margin-top: 5%;
    margin-bottom: 0%;
    padding-bottom: 2%;
    padding-left: 15px;
}
.fatcs_heading_boarder {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 4%;
  margin-left: 18%!important;
  margin-bottom: 5%;
}
}

.fatcs_heading_boarder{
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 5%;
}
.fatcs_heading_p{
  text-align: center;
    color: black;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 600;
}
.fatcs_heading_image{
  margin-left: 32%;
  margin-top: 15px;
  width: 100px;
}

.fatcs_heading_boarder_1{
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 4%;
  margin-left: 18%;
  margin-bottom: 5%;
}


@media (min-width:1400px) and (max-width: 1600px){

  .banner_image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    right: 0;
    z-index: -9;
    margin-top: -75px;
  }
}

  @media (min-width:1601px) and (max-width: 1920px){

    .banner_image{
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 1000px;
      width: 100%;
      right: 0;
      z-index: -9;
      margin-top: -75px;
    }
  }

  @media (min-width:1400px) and (max-width: 1920px){
  .factsp {
    padding-top: 0px;
    color: black;
    font-size: 16px!important;
    line-height: 30px!important;
    font-weight: 400;
}
.fatcs_heading_boarder_1{
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 4%;
  margin-left: 18%;
  margin-bottom: 5%;
}

.fatcs_heading_image {
  margin-left: 28%;
  margin-top: 15px;
  width: 125px!important;
}
.fatcs_heading_p {
  text-align: center;
  color: black;
  font-size: 23px;
  padding-top: 10px;
  font-weight: 600;
}
.design_solutions{
  margin-top: 70px;line-height: 34px!important;
}
  }


  @media (min-width:1025px) and (max-width: 1280px){

    .banner_image{
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 800px;
      width: 100%;
      right: 0;
      z-index: -9;
      margin-top: -75px;
    }
    }
    @media (max-width:764px) {
      .section4 {
        padding-top: 5%;
        color: #ff7a04;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
  }

  @media (min-width:768px) and (max-width: 800px){

  .design_solutions {
    margin-top: 20px;
    line-height: 20px;
}
.factsp {
  padding-top: 0px;
  color: black;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
.fatcs_heading_image {
  margin-left: 25%;
  margin-top: 15px;
  width: 75px;
}
.webdesing_percttext {
  margin: 0px;
  font-weight: 500;
  margin-top: 20px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
  }
