<section class="banner_image">
  <div class="container">
    <div class="mapplication_banner">
     <div class="bannercolor">
       <div class="bannertexts">
         <h3>Web Designing</h3>
       <p>
        We cater to all your website requirements with no hassle. With years of experience,amazing talent
				and proven expertise, our efficient teams offer you website solutions, for your specific business needs.
       </p>
       </div>
     </div>
    </div>
  </div>
</section>
<!-- Web desingign Area secion two -->
<section>
  <div class="container">
    <h3 class="section4">Website Design Solutions</h3>
    <div class="row" style="padding-bottom: 25px;">
      <div class="col-md-6">
        <img src="../../../assets/images/webdesing-banners.png" alt="webdesing_image2" class="webdesing_section1" />
      </div>
      <div class="col-md-6">
        <p class="design_solutions">
          Manteio works through a bespoke process from the start to the end of your project,
          offering tailored website designs unique to your requirements. This makes us extremely
          flexible and agile agency ready to take on projects large or small.<br>
          Working at any other web designing company in India, we dedicatedly perform at delivering
           performance oriented websites, compatible with varied platforms, browsers and devices, without
           any compromise in any functions, navigation and accessibility standards.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Web desingign Area secion two -->
<!-- start Web desingign Area secion 3 -->
<section style="background-image:url('../../../assets/images/sectionimage_123.png');background-size: 100% 100%;
background-repeat: no-repeat;margin-left:-70px;">
  <div style="margin-left: 15px;
  margin-right: 15px;">
    <h3 class="section4" style="color:#ff7a04;font-weight: 600;">Facts You Must Know...</h3>

    <div class="facts">
      <div class="row">
         <div class="col-md-3 fatcs_heading_boarder">
          <div style="margin-bottom:10%;">
            <img src="../../../assets/images/webdesing-5.png" alt="analysisimage" class="fatcs_heading_image" />
            <p class="fatcs_heading_p">Analysis</p>
            <p class="factsp">
              Our design process starts with analyzing your brand, needs, business objectives and goals for
              your website, and developing an appropriate timeline and project plan.
            </p>
        </div>
         </div>
         <div class="col-md-3 fatcs_heading_boarder">
          <div style=" margin-bottom: 10%;">
            <img src="../../../assets/images/webdesing-6.png" alt="analysisimage" class="fatcs_heading_image" />
            <p class="fatcs_heading_p">Research</p>
            <p class="factsp">
              We conduct extensive research on your industry, competitors, audience,
              and interview internal stakeholders to construct a tailored strategy and design.
            </p>
        </div>
        </div>
        <div class="col-md-3 fatcs_heading_boarder">
          <div style="margin-bottom: 10%;">
            <img src="../../../assets/images/webdesing-7.png" alt="analysisimage" class="fatcs_heading_image"/>
            <p class="fatcs_heading_p">Build</p>
            <p class="factsp">
              Build With growing specialization within communication design and information technology fields,
              there is a strong tendency to draw a clear line between web design.
              <!-- We define the key features, functionalities, and structure of your new website and allow
              that to inform design. -->
            </p>
        </div>
        </div>
      </div>

      <div class="row fatcs_heading_rowtwo" >
        <div class="col-md-3 fatcs_heading_boarder_1 desing_box">
         <div style="margin-bottom:10%;">
          <img src="../../../assets/images/webdesing-8.png" alt="analysisimage" class="fatcs_heading_image"/>
           <p class="fatcs_heading_p">Design</p>
           <p class="factsp">
            Seamless experience driven by international standards in collaboration with out-of-the-box ideas and testing
            all the possibilities to ensure the best course of action.
            <!-- We design the graphics and visual elements needed to bring websites to life.
            We make that transition from vision to reality. -->

           </p>
       </div>
        </div>
        <div class="col-md-3 fatcs_heading_boarder">
         <div style=" margin-bottom: 10%;">
          <img src="../../../assets/images/webdesing-0070.png" alt="analysisimage" class="fatcs_heading_image"/>
          <p class="fatcs_heading_p">Strategy & conceptualization</p>
           <p class="factsp">
            Working collaboratively with our crew, we determine what content is necessary and
            useful for your website as well as where it should be placed for maximum impact.
           </p>
       </div>
       </div>
      </div>
    </div>
  </div>
</section>
<!-- End Web desingign Area secion 3 -->
<!-- start Web desingign Area secion 4 -->
<section>
  <div class="container">
    <h3 class="section4">Website Performance Monitoring
    </h3>
    <div class="webdesing_section4" style="padding-bottom: 3%;">
      <div class="row">
        <div class="col-md-2">
          <div style="border-right: 2px solid #4d4b4b;height: 150px;">
            <div class="webdesing_pheight">
              <p class="webdesing_percttext">Page load time</p>
            </div>
            <div>
              <p class="webdesing_numberheight">90%</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div style="border-right: 2px solid #4d4b4b;height: 150px;">
          <div class="webdesing_pheight">
            <p class="webdesing_percttext">Conversion rate drops down due to delay</p>
          </div>
          <div>
            <p class="webdesing_numberheight">7%</p>
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div style="border-right: 2px solid #4d4b4b;height: 150px;">
          <div class="webdesing_pheight">
            <p class="webdesing_percttext" style="padding-right:20px;">Website design  - Prime reason for distrust and certainty issues</p>

          </div>
          <div>
            <p class="webdesing_numberheight">94%</p>
          </div>
        </div>
        </div>
        <div class="col-md-3">
          <div>
          <div class="webdesing_pheight">
            <p class="webdesing_percttext">% of mobile users leaving the website due to design non - responsiveness</p>
          </div>

          <div>
            <p class="webdesing_numberheight">99.5%</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Web desingign Area secion 4 -->
